/* body > .scaffold > :is(top-nav, navigation-rail, side-nav, footer),
main > :not(:last-child),
main > :last-child > navigation-tree,
main .toc-container {
  display: none;
}

main > :last-child {
  margin-top: min(10vmax, 10rem);
  margin-bottom: min(10vmax, 10rem);
} */

html {
  overflow-y: hidden;
  overflow-x: hidden; 
}

/* body {

} */

ytd-rich-grid-renderer {
  display: none !important;
}

ytd-mini-guide-renderer {
  display: none !important;
}

#guide-inner-content {
  display: none !important;
}

#guide-button {
  display: none !important;
}

#buttons {
  display: none !important;
}

#masthead-container {
  /* padding-top: 245px !important; */
  position: absolute !important;
  padding-left: 15% !important;
    #start {
        display: none !important;
    }
}

/* recommended videos while watching */
#secondary {
  display: none !important;
}

/* video description */
#bottom-row {
  display: none !important;
}

/* comments section */
.ytd-item-section-renderer {
  display: none !important;
}

/* Show More -> Video Recommendations */
#infocards-section {
  display: none !important;
}

/* like/dislike buttons */
.ytd-segmented-like-dislike-button-renderer {
  display: none !important;
}

/* Subscribe Button */
.ytd-subscribe-button-renderer {
  display: none !important;
}

/* media queries */
@media screen and (min-width: 1100px) {
  #masthead-container {
    padding-left: 18% !important;
  }
}

@media screen and (min-width: 1300px) {
  #masthead-container {
    padding-left: 20% !important;
  }
}

@media screen and (min-width: 1400px) {
  #masthead-container {
    padding-left: 25% !important;
  }
}

@media screen and (min-width: 1550px) {
  #masthead-container {
    padding-left: 28% !important;
  }
}

@media screen and (min-width: 1700px) {
  #masthead-container {
    padding-left: 30% !important;
  }
}

@media screen and (min-width: 1900px) {
  #masthead-container {
    padding-left: 32% !important;
  }
}

@media screen and (min-width: 2100px) {
  #masthead-container {
    padding-left: 34% !important;
  }
}