/* body > .scaffold > :is(top-nav, navigation-rail, side-nav, footer),
main > :not(:last-child),
main > :last-child > navigation-tree,
main .toc-container {
  display: none;
}

main > :last-child {
  margin-top: min(10vmax, 10rem);
  margin-bottom: min(10vmax, 10rem);
} */

ytd-rich-grid-renderer {
  display: none !important;
}

ytd-mini-guide-renderer {
  display: none !important;
}

#guide-inner-content {
  display: none !important;
}

#guide-button {
  display: none !important;
}

#buttons {
  display: none !important;
}

#masthead-container {
    top: 25% !important;
    #start {
        display: none !important;
    }
}

/* #container {
    height: 75px !important;
    width: 600px !important;
    Position: absolute;
    Top: 50%;
}

#search {
    height: 75px !important;
    width: 600px !important;
    Position: absolute;
    Top: 50%;
} */