/* body > .scaffold > :is(top-nav, navigation-rail, side-nav, footer),
main > :not(:last-child),
main > :last-child > navigation-tree,
main .toc-container {
  display: none;
}

main > :last-child {
  margin-top: min(10vmax, 10rem);
  margin-bottom: min(10vmax, 10rem);
} */

ytd-rich-grid-renderer {
  display: none !important;
}

ytd-mini-guide-renderer {
  display: none !important;
}

#guide-inner-content {
  display: none !important;
}

#guide-button {
  display: none !important;
}

#buttons {
  display: none !important;
}

#masthead-container {
  padding-top: 245px !important;
  padding-left: 15% !important;
    #start {
        display: none !important;
    }
}

/* #container {
    height: 75px !important;
    width: 600px !important;
    Position: absolute;
    Top: 50%;
}

#search {
    height: 75px !important;
    width: 600px !important;
    Position: absolute;
    Top: 50%;
} */

/* media queries */
@media screen and (min-width: 1100px) {
  #masthead-container {
    padding-left: 18% !important;
  }
}

@media screen and (min-width: 1300px) {
  #masthead-container {
    padding-left: 20% !important;
  }
}

@media screen and (min-width: 1400px) {
  #masthead-container {
    padding-left: 25% !important;
  }
}

@media screen and (min-width: 1550px) {
  #masthead-container {
    padding-left: 28% !important;
  }
}

@media screen and (min-width: 1700px) {
  #masthead-container {
    padding-left: 30% !important;
  }
}

@media screen and (min-width: 1900px) {
  #masthead-container {
    padding-left: 32% !important;
  }
}

@media screen and (min-width: 2100px) {
  #masthead-container {
    padding-left: 34% !important;
  }
}